h3 {
	color: #5c8599;
	font: 700 32px Nunito, sans-serif;
	line-height: 34px;
}
form span {
	font: 600 18px Nunito, sans-serif;
	line-height: 28px;
	color: #5c8599;
}
.input-block {
	margin: 1em 0;
}
.input-block label {
	color: #8fa7b2;
	font: 600 16px Nunito, sans-serif;
	line-height: 21.82px;
}
#emailRecupera {
	margin-top: 0.5em;
}
.backButton {
	position: absolute;
	left: 93.89%;
	right: 2.78%;
	top: 4.88%;
	bottom: 89.27%;
	background: #ebf2f5;
	border-radius: 16px;
}
.backButton a {
	position: absolute;
	left: 18%;
	right: 1.94%;
	top: 12%;
	bottom: 87.8%;
}
@media (max-width: 500px){
	.backButton {
		position: absolute;
		left: 85%;
		right: 3%;
		top: 5%;
		bottom: 89.27%;
		background: #ebf2f5;
		border-radius: 16px;
	}
	.backButton a {
		position: absolute;
		left: 18%;
		right: 1.94%;
		top: 12%;
		bottom: 87.8%;
	}
}
